

.search-form {
  position: relative;
  color: var(--my-font-colors);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:none;
  width:70%;
  height: 40px;
}
.search-form .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:auto;
    padding: 10px;
    border-radius:5px 0 0 5px;
    border:none;
    font-size:1.2rem;
    font-weight:normal;
    background-color:var(--normalwhite);
    color:var(--darkgrey);
}