/* CHANGES MADE HERE THAT SHLD MAKE IN DJANGO 
after breaking down the components to smaller ones
i made d parent to all "header-2" width:100px
i added a child to wrap all "main-box"
i made "main-box"  width:85%
i adjusted the "last wrap" inside "place-2" margin-right:0

*/
.header-2{
    display: flex;
    justify-content: center;
    align-items:center;
    width:100%;
    background-color: var(--darkblue2);
    padding: 7.5px 0;
    color: var(--my-font-colors);
}
.header-2 .main-box{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:85%;
}
.header-2 .place-2,
.header-2 .place-2 div{
    display: flex;
    justify-content: space-between;
}
.header-2 .place-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:60%;
}
.header-2 .place-1 .logo-container{
    margin-right: 20px;
}
.header-2 .place-1 .logo-container{
    color:black;
    /* font-weight:bold; */
    font-size:25px;
    text-align:left;
    color:var(--normalorange);
    text-transform:uppercase;
    line-height:20px;
    letter-spacing: 4px;
    text-decoration: none;
}
.header-2 .place-1 .logo-container strong{
    line-height:30px;
    color: orange;
}
.header-2 .place-1 .logo-container span{
    position:relative;
    background-color: red;
    height:20px;
    width:20px;
}
.header-2 .place-1 .logo-container span .shopping-cart{
    color:var(--darkblue);
    position:absolute;
    top:4px;
    left:7px;
}
.header-2 .place-1 .logo-container span .star{
    color:var(--darkblue);
    background-color:var(--normalorange);
    border-radius:100px;
    border:2px solid var(--darkblue2);
    padding:2.5px;
    position:absolute;
    top:-5px;
    left:18px;
}

.header-2 .place-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:40%;

}
.header-2 .place-2 .wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:5px;
    margin:5px 20px;
    color:var(--normalwhite);
}

.header-2 .place-2 .wrap:hover,
.logo:hover,
.sign-in-and-out:hover,
.help:hover{
    color:var(--normalorange);
}
.header-2 .place-2 .wrap:last-child{
    margin-right:0;
}
.header-2 .place-2 .wrap:nth-child(2){
    position: relative;
}
.header-2 .place-2 .wrap a{
    color: var(--normalwhite);
}
.header-2 .place-2 .wrap .qty{
    background-color:var(--normalwhite);
    color:var(--normalblack);
    position: absolute;
    top:-6px;
    left:0;
    margin-left: 10px;
    width:14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100px;
    font-size:12px;
    font-weight:700;
    border:1px solid var(--darkblue);
}

.header-2 .place-3{
    display: none;
}
.header-2 .place-3 .menuicons{
    font-size: 40px;
    color: var(--normalwhite);
 }




@media screen and (max-width:768px){
    .header-2 .place-3{
        display:flex;
    }
    /* .header-2 .place-3 .menuicons .icon1{
       display:block;
    }

    .header-2 .place-3 .menuicons .icon2{
       display:none;
     } */
}