
#checkout-side-snippet {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#E8E9EB;
    width:20%;
    height:135px;
    margin-left:50px;
    border-radius:5px;
    border:1px solid #CCCDC6;
    position:relative;
    color: var(--my-font-colors);
}
#checkout-side-snippet .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    position: relative;
    background-color: var(--normalwhite);
    padding: 5px;
    border-radius: 5px;
}
#checkout-side-snippet .block1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    height:100%;
    margin:10px;
}
#checkout-side-snippet .block1 .unit-price{
    font-size:16px;
}
#checkout-side-snippet .block1 .unit-price,
#checkout-side-snippet .block1 .discount,
#checkout-side-snippet .block1 .unit-total,
#checkout-side-snippet .block1 .subtotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    font-size:14px;
    margin-top:4px;
}
#checkout-side-snippet .block1 .unit-price span:nth-child(2),
#checkout-side-snippet .block1 .discount span:nth-child(2),
#checkout-side-snippet .block1 .unit-total span:nth-child(2),
#checkout-side-snippet .block1 .subtotal span:nth-child(2){
    font-weight:550;
    font-size:16px;
}
#checkout-side-snippet .block1 .subtotal{
    background-color:var(--lightgrey);
    width:100%;
    height:20%;
    margin:0;
    margin-top:12px;
    padding:0 3px;
    border:1px solid #CCCDC6;
}
#checkout-side-snippet .block1 .subtotal span:nth-child(1){
    color:#746D69;
    font-weight:600;
}
#checkout-side-snippet .block1 .subtotal span:nth-child(2){
    color:var(--darkblue);
    font-weight:600;
    font-size:20px;
    color:#746D69;
}








#checkout-bottom-snippet{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    margin:30px 0;
    width:30%;
}
#checkout-bottom-snippet .inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:85%;
    position:relative;
    background-color:var(--normalwhite);
    padding:5px;
    border-radius:5px;
}
#checkout-bottom-snippet .inner-box .block1{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:100%;
    margin-top:10px;
}
#checkout-bottom-snippet .inner-box .block1 .total-qty1,
#checkout-bottom-snippet .inner-box .block1 .total1,
#checkout-bottom-snippet .inner-box .block1 .delivery-amount1,
#checkout-bottom-snippet .inner-box .block1 .final-total1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    font-size:14px;
    margin:5px;
}
#checkout-bottom-snippet .inner-box .block1 .total1-qty span:nth-child(2),
#checkout-bottom-snippet .inner-box .block1 .total1 span:nth-child(2),
#checkout-bottom-snippet .inner-box .block1 .delivery-amount1 span:nth-child(2),
#checkout-bottom-snippet .inner-box .block1 .final-total1 span:nth-child(2){
    font-weight:550;
    font-size:16px;
}
#checkout-bottom-snippet .inner-box .block1 .delivery-amount1{
    margin-top:12px;
}
#checkout-bottom-snippet .inner-box .block1 .final-total1{
    margin-top:8px;
}
#checkout-bottom-snippet .inner-box .block1 .final-total1 span:nth-child(1){
    color:#746D69;
    font-weight:600;
}
#checkout-bottom-snippet .inner-box .block1 .final-total1 span:nth-child(2){
    font-weight:600;
    font-size:20px;
    color:#746D69;
}
#checkout-bottom-snippet form{
    width:100%;
}
#checkout-bottom-snippet form .pay{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:35px;
    text-align:center;
    font-weight:bold;
    border-radius:5px;
    color:var(--normalwhite);
    background-color:var(--lightblue);
    border:none;
}