#checkout-page{
    background-color:var(--lightgrey);
    z-index:1;
    width:100vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: var(--my-font-colors);
    /* d inner scroll happens only when a parent tag is given a height
     while it content(child) is longer than d height given its parent
     height:100vh;*/
}


