/* #add-product-type form .inner-form-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
#add-product-type form .inner-form-2  h1{
    width: 100%;
    padding: 5px 12px;
    margin-top: 30px;
    background-color: aqua;
}
#add-product-type form .inner-form-2  .spec-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 12px;
    margin-top: 5px;
}
#add-product-type form .inner-form-2  h1 {
    width: 100%;
    padding: 5px 12px;
    margin-top: 30px;
    background-color: aqua;
}
#add-product-type form .spec-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%; 
}

#add-product-type form .inner-form-2 .rows{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10px;
    border-bottom: var(--border-line-color);
    width: 100%; 
    background-color: white;
}

#add-product-type form .line-2 .rows input{
    border: var(--border-line-color);
    border-radius: 5px;
    height: 27px;
    width: 35%;
} */