#registration {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 0 8vw;
    color: var(--my-font-colors);
  }
.buttons{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
#place-1-registration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centert;
    width:60%;
    margin-bottom:20px;
}
#place-1-registration form{
    width:100%;
}
#place-2-registration{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    width:60%;
    margin-bottom:20px;
}
 #place-2-registration span:nth-child(1){
  margin:0;
}
#place-2-registration span:nth-child(2){
  margin-top:40px;
  font-size:17px;
  font-weight: bold;
}
#place-2-registration span:nth-child(3){
  margin:10px 0 0 27px;
  color:var(--darkblue);
  font-weight:700;
}
#place-2-registration span:nth-child(3):hover,
.logo:hover{
  color:var(--normalorange);
} 
#registration .logo{
  margin-right:5px;
  font-size:20px;
  color:var(--darkblue);
}
.security{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
  margin-top:50px;
  font-size:12px;
}
.security span{
  font-weight:700;
  font-size:17px;
}
.security div div{
  margin-top:5px;
}
.terms-condition span{
  color:var(--darkblue);
}